/* VARIABLES */
:root {
  --color1: #e8bf15;
  --bg-color1: #111;
  --bg-color2: #070707;
}

/* GLOBAL */
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  list-style: none;
}

.bg1 {
  background-color: var(--bg-color1);
}

.bg2 {
  background-color: var(--bg-color2);
}

section {
  padding: 100px 0;
  text-align: center;
}

.section__title {
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--color1);
}

/* HEADER */
.header {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.9);
}

.btn {
  background-color: var(--color1);
  font-size: 22px;
  padding: 0;
  padding: 5px 35px;
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.navbar-collapse {
  flex-grow: 0;
}

.header__logo {
  height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: color 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color1);
  font-size: 18px;
}

.nav-item {
  padding: 0 18px;
}

.bg-light {
  --bs-bg-opacity: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

/* HERO */
.hero {
  color: white;
  padding-bottom: 0;
  text-align: start;
}

.hero__title {
  margin-top: 110px;
  font-size: 60px;
  margin-bottom: 60px;
  font-weight: normal;
}

.hero__text {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 60px;
}

.hero__ul {
  margin: 0;
  padding: 0;
}

.hero__li {
  margin: 0;
  padding: 0;
  font-size: 26px;
}
.hero__li:before {
  content: "\2714";
  margin-right: 10px;
  font-weight: bold;
  color: var(--color1);
}

/* AUTHOR */
.author {
  padding-bottom: 0;
}

.author__text {
  margin: 15px 0;
  font-size: 22px;
  line-height: 32px;
  color: white;
}

.author__image {
  min-width: 450px;
}

.author__name {
  font-size: 45px;
  font-weight: 900;
  color: white;
}

/* DESCRIPTION */
.description__icon {
  border: 3px solid var(--color1);
  width: 80px;
  height: 80px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  color: var(--color1);
  font-size: 40px;
  margin-bottom: 10px;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.description__title {
  padding-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.description__text {
  color: white;
  font-size: 18px;
}

.description__text:before {
  content: "";
  display: block;
  margin: 0px auto 15px;
  width: 80px;
  height: 3px;
  background-color: #6583fe;
}

.description__card {
  height: 90%;
  padding: 25px;
  margin-bottom: 50px;
}

i:before {
  font-size: 40px;
}

.description__youtube-about {
  max-width: 700px;
  font-size: 22px;
  line-height: 40px;
  margin: 0 auto 25px;
  color: white;
}
