/* VARIABLES */
:root {
  --color1: #e8bf15;
  --bg-color1: #111;
  --bg-color2: #070707;
}

/* GLOBAL */
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  list-style: none;
}

.bg1 {
  background-color: var(--bg-color1);
}

.bg2 {
  background-color: var(--bg-color2);
}

.c1 {
  color: var(--color1);
}

.c2 {
  color: white;
}

section {
  padding: 100px 0;
  text-align: center;
}

.section__title {
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--color1);
}

/* HEADER */
.header {
  width: 100%;
  background-color: rgba(17, 17, 17, 0.9);
  z-index: 20;
}

.btn {
  background-color: var(--color1);
  font-size: 22px;
  padding: 0;
  padding: 5px 35px;
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in;
}

.navbar-collapse {
  flex-grow: 0;
}

.logo {
  height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: color 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color1);
  font-size: 18px;
}

.nav-item {
  padding: 0 18px;
}

.bg-light {
  --bs-bg-opacity: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

/* HERO */
.hero {
  color: white;
  padding-bottom: 0;
  text-align: start;
}

.hero__title {
  margin-top: 110px;
  font-size: 60px;
  margin-bottom: 60px;
  font-weight: normal;
}

.hero__text {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 60px;
}

.hero__ul {
  margin: 0;
  padding: 0;
}

.hero__li {
  margin: 0;
  padding: 0;
  font-size: 26px;
}
.hero__li:before {
  content: "\2714";
  margin-right: 10px;
  font-weight: bold;
  color: var(--color1);
}

/* AUTHOR */
.author {
  padding-bottom: 0;
  text-align: start;
}

.author__text {
  margin: 15px 0;
  font-size: 22px;
  line-height: 32px;
  color: white;
}

.author__image {
  min-width: 450px;
}

.author__name {
  font-size: 45px;
  font-weight: 900;
  color: white;
}

/* DESCRIPTION */
.description__icon {
  border: 3px solid var(--color1);
  width: 80px;
  height: 80px;
  line-height: 75px;
  text-align: center;
  border-radius: 50%;
  color: var(--color1);
  font-size: 40px;
  margin-bottom: 10px;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.description__title {
  padding-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.description__text {
  color: white;
  font-size: 18px;
}

.description__text:before {
  content: "";
  display: block;
  margin: 0px auto 15px;
  width: 80px;
  height: 3px;
  background-color: #6583fe;
}

.description__card {
  height: 90%;
  padding: 25px;
  margin-bottom: 50px;
}

i:before {
  font-size: 40px;
}

.description__youtube-about {
  max-width: 700px;
  font-size: 22px;
  line-height: 40px;
  margin: 0 auto 25px;
  color: white;
}

/* ABOUT */
.about__text {
  text-align: left;
  max-width: 700px;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  color: white;
}

.about__text:not(:last-child) {
  margin-top: 15%;
}

.accordion-item {
  padding-left: 8px;
  background-color: var(--bg-color1);
}

.accordion-button {
  background-color: var(--bg-color1);
  color: white;
  padding: 0;
}

.accordion-button::after {
  display: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bg-color1);
  outline: 0;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: var(--bg-color1);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.about__item-title:before {
  content: "\27A5";
  margin-right: 5px;
}

.about__item-title {
  font-size: 20px;
}

.accordion-body {
  padding: 10px;
  display: block;
  background-color: var(--color1);
  color: var(--bg-color1);
  padding: 10px;
  line-height: 20px;
  font-size: 18px;
}

/* FORWHOM */
.forWhom__wrapper {
  width: 90%;
  margin: 80px auto 0;
}

.forWhom__card-wrapper {
  background-color: var(--bg-color1);
  color: white;
  padding: 30px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.forWhom__card-image {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.forWhom__card-text {
  font-size: 20px;
  line-height: 30px;
}

/* LEARNING */
.learning__text {
  background-color: var(--bg-color2);
  padding: 30px;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
  margin-top: 10%;
  margin-bottom: 15px;
  color: white;
}

.learning__image {
  width: 320px;
}

.learning__wrapper {
  width: 1160px;
  margin: 0 auto;
}

/* FAQ */
.faq__title {
  color: var(--color1);
  font-size: 26px;
  text-align: left;
  margin: 0;
}

.faq__text {
  font-size: 22px;
  text-align: left;
  line-height: 46px;
  margin-bottom: 35px;
  color: white;
}

/* BUY */
.buy__text {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 60px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.buy__title {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.buy__price {
  font-size: 46px;
  margin-bottom: 30px;
  color: var(--color1);
}

.buy__button {
  color: var(--background-main);
  align-self: center;
  background-color: var(--color1);
  text-decoration: none;
  font-size: 24px;
  padding: 15px 35px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease-in;
}

.buy__price-wrapper {
  margin: 35% 0;
}

/* FOOTER */
.footer {
  padding: 50px 0;
}

.footer__text {
  margin: 0;
  margin-top: 5px;
  color: white;
}

.footer__social-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: white;
}

.footer__social-icon:before {
  font-size: 20px;
}

.footer__social-link {
  text-decoration: none;
  transition: 0.2s ease;
}

.footer__social-link:not(:last-child) {
  margin-right: 18px;
}

.footer__socials-wrapper {
  margin-bottom: 10px;
}

.footer__mail {
  margin-bottom: 5px;
  color: var(--color1);
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
}
